awscli
Sphinx
click
matplotlib
ggplot
gym==0.10.4
opencv-python==3.4.1.15
mujoco-py==1.50.1.56
numpy
pandas
ipython
jupyter
notebook
visdom
tqdm
six
pudb
flake8
coverage
pytest
pytest-flake8
pytest-cov
pytest-xdist
pytest-html
